<h1>Index tents page</h1>
<!-- navbar component -->
<div class="container">

<!-- div for the search by location -->
<!-- form search by location -->

<!-- div for our index -->
<% @tents.each do |tent| %>
<%= tent.photo %>
<%= tent.address %>
<%= tent.title %>
<%= tent.price %>
<% end %>
<!-- </div> -->
<!-- </div> -->

</div>
