@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
html,
body {
 height: 100%;
 position: relative;
}
a {
  color: black !important;
}

.container-index {
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 80px;
  display: flex;
}

.container-show {
  min-height: calc(100vh - 140px);
}
.main-container {
  min-height: calc(100vh - 140px);
  padding-bottom: 80px;
  overflow: hidden;
  display: block;
  position: relative;
}
