// Specific CSS for your home-page
.box {
  margin-left: 50px;
  margin-top: 100px;
  border: 1px solid #000;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 0px 0;

}
.footer {
  position: absolute;
  width: 100%;
  background: #F4F4F4;
  display: flex;
  align-items:  center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin: 0px;

}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: 4685c4;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 50px; /* height of your footer */
}

