// Specific CSS for your home-page
.box {
  margin-left: 50px;
  margin-top: 100px;
  border: 1px solid #000;

}

.banner {
   background-size: cover;
   background-position: center;
   padding: 150px 0;
}

