<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1532339142463-fd0a8979791a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');">
  <div class="container">
    <div class="row">
      <div class="col-4 box p-4">
        <h1>Get outside</h1>
        <h2>Rent-a-tent</h2>

        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" placeholder='1234 Main St'>
        </div>

        <button type="submit" onClick="location.href='tents'" class="btn btn-success">Search</button>
        </div>

    </div>
  </div>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> HIVie Team
    </div>
  </div>

