// BUTTONS USE ACCROSS ALL SITE
.btn-book {
  display: flex;
  position: relative;
  right: -505px;
  margin-bottom: 10px;
  width: 20%;
  text-align: center;
  flex-direction: column;
  color: white;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-search-mainpage {
  // display: flex;
  // position: relative;
  // right: -505px;
  font-weight: bold;
  height: 45px;
  // width: 30%;
  text-align: center;
  // flex-direction: column;
  color: black;
  border-radius: 4px;
  // background: #021B3D; blue
  background: #FDCA40;
  padding: 10px;
  // background: #FF9F1C; orange
  // transition: background 0.3s ease;
}

.btn-search-book-page {
  font-weight: bold;
  height: 45px;
  text-align: center;
  color: black;
  border-radius: 4px;
  background: #FDCA40;
  padding: 10px;
  margin-left: 68px;
}

.btn-search-ghost {
  color: #FDCA40;
  height: 38px;
  border: 1px solid #FDCA40;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  // opacity: 0.6;
  transition: opacity 0.3s ease;
  //  &:hover{
  //     opacity: 0.8;
  // }
 }

.btn-primary {
  background-color: $tent-yellow;
  border-color:  $tent-yellow;
  & :hover {
    background-color: #f7b613;
    border-color:  #f7b613;
  }
}
