.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  margin-bottom: 80px;
}

.cards {
  a {
  text-decoration: none;
  opacity: 1;
  color:black;
    &:hover {
      opacity: 0.6;
    }
  }
}

.card {
border:none;
border-radius: 4px
}

.card-body {
  p {
    font-size: 14px;
    font-weight: 200;
  }
}
