.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position:relative;
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
  position:absolute;
  right:50%;
  top:10px;
}

.fa-campground:before {
  font-size: 30px;
}

.navbar-lewagon .navbar-search {
  margin-left: 20px;
  color-background: red;
}

// .form-search{
//   width: 350px !important;
// }
