// /*THE TENT SHOW PAGE*/
.card-tent {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background: white;

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 14px;
    opacity: .7;
    margin: 0px;
  }
  h6 {
    font-size: 18px;
    opacity: .7;
    margin: 0;
  }
}


.card-tent-booking {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 80px;
  background: white;
  height: 350px;

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 14px;
    opacity: .7;
    margin: 0px;
  }
   h6 {
    font-size: 18px;
    opacity: .7;
    margin: 0;
  }
}

.card-tent-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center center;
}

.card-tent-pricing {
  font-size: 24px;
  right: 25px;
  top: 0px;
  width: 100px;
  display: flex;
}

i {
  font-size: 24px;
}

#card-tent-infos {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: baseline;
  position: relative;
}

.card-tent-owner {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 50px;
}

#date-form {
  padding: 16px;
  display: inline-block;
  h4{
    font-size: 12px;
  }
}
